body {
    height: fit-content;
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.main-menu {
    height: 7vw;
    width: 100%;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
}
.logo-wrap {
    margin-top: 1.75vw;
    margin-left: 5vw;
}
.logo {
    width: 13vw;
}
.nav-wrap {
    margin-top: 2.5vw;   
    margin-right: 3vw; 
    text-align: right;
    display: inline-flexbox;
    text-align: right;
    width: 100vw;
    
}
.nav-btn {
    padding: 1vw;
    color: white;    
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    border-color: white;
    border: 1px solid;
}
.nav-btn-2 {
    margin-right: 40px;
}
.nav-btn:hover {
    box-shadow: 0 0 10px white;
    transition-duration: 0.5s;
}
.main-menu-nav {
    margin-bottom: 0;
    border: 0;    
    background-color: #4b4b4b;
    min-height: 33px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    justify-content: center;
    display: flex;
}
.mm-nav-btn {
    padding: 9px;
    color: white;
    text-decoration: none;
    margin: 0 2vw 0 2vw;
}
.mm-nav-btn:hover {
    background-color: #5a5a5a;
    transition-duration: 0.3s
}
